/target
dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
node_modules/
.cargo-ok

.idea
.wrangler
coverage
.dev.vars*
.pnp.*
.yarn
__pycache__
wrangler.effective.toml
wrangler.secret.toml
.zcode/

# external tool leftovers
.ua/
.agents/
